.submit-btn, .footer-social-link, .check-box, .check-text, .modal-close, .clients-link, .team-social-link, .work-img-title, .section-pic_item, .menu-close__btn, .header-mail, .adress-contacts, .adress-mail, .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --secondary-text-color: #757575;
  --primary-text-color: #212121;
  --primary-black-color: #000000;
  --accent-text-color: #2196F3;
  --primary-whyte-color: #ffffff;
  --secondary-background-color: #F5F4FA;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2F303A;
  --second-accent-text-color: #2191F3;
  --social-icon-color: #AFB1B8;
  --button-hover-color: #188ce8;
  --effects-option: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-widht: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-widht: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-widht: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero .button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  background-color: #188CE8;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 40px;
  margin-left: -8px;
}
@media screen and (min-widht: 768px) {
  .main-btn {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-widht: 1200px) {
  .main-btn {
    margin-bottom: 50px;
  }
}

.btn {
  cursor: pointer;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  margin-left: 8px;
  margin-top: 15px;
}

.portfolio-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  background-color: #F5F4FA;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus, .portfolio-btn:active {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.top-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo-header {
  color: #000000;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header-nav {
    padding: 10px 0 10px;
  }
}

.adress-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 786px) {
  .adress-list {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .adress-list {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adress-contacts:not(:last-child) {
  margin-left: 50px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 786px) {
  .header-menu {
    display: none;
  }
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: #2196F3;
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.header-link.current {
  color: #2196F3;
}

.header-item:not(:last-child),
.mailtel:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:hover, .header-contacts:focus {
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .header-contacts {
    padding: 0;
  }
}

.mailto,
.telto {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}

.mob-menu {
  position: fixed;
  z-index: 5;
  inset: 0;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mob-menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.menu-open__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}
.menu-open__btn:hover, .menu-open__btn:focus, .menu-open__btn:active {
  fill: #188ce8;
}
@media screen and (min-width: 768px) {
  .menu-open__btn {
    display: none;
  }
}

.menu-close__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: block;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: -40px;
}

.close-menu__icon {
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-menu__icon:hover, .close-menu__icon:focus {
  fill: #2196F3;
}

.open-menu__icon:hover, .open-menu__icon:focus {
  fill: #2196F3;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mob-menu__nav-link {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__nav-link:hover, .mob-menu__nav-link:focus, .mob-menu__nav-link:active, .mob-menu__nav-link_current {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__item-link-current {
  color: #2196F3;
}

.mob-menu__contacts-list {
  margin-bottom: 64px;
}

.mob-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contacts-mobile {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu__contacts-mail {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-menu__contacts-mail:hover, .mob-menu__contacts-mail:focus, .mob-menu__contacts-mail:active {
  color: #2196F3;
}

.mob-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.social__item {
  padding-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social__item:first-child {
  padding-left: 0px;
}

.mob-menu__social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.hero {
  width: 100%;
  background: var(--footer-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/Hero-img1x-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/Hero-img1x-mobile.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/hero/Hero-img2x-mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero/Hero-img2x-mobile.jpg);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/hero/Hero-img1x-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero/Hero-img1x-tablet.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/hero/Hero-img1x-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero/Hero-img1x-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/hero/Hero-img2x-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero/Hero-img2x-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/hero/Hero-Img1x-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero/Hero-Img1x-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../img/hero/Hero-Img2x-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero/Hero-Img2x-desk.jpg);
  }
}
.hero .hero-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 767px) {
  .main-about {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .main-about {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-about {
    width: calc((100% - 90px) / 4);
  }
}
.main-about .main-about + .main-about {
  margin-top: 30px;
}
@media screen and (min-widtg: 768px) {
  .main-about .main-about + .main-about {
    margin-top: 0;
  }
}

.main-section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-widht: 768px) {
  .main-section-item {
    width: 354px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-section-item {
    width: 270px;
    height: 120px;
  }
}

.main-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 700;
  line-height: 1.14;
  color: #212121;
}

.main-text {
  text-align: left;
  font-size: 400;
  line-height: 1.71;
  color: #757575;
}

.about-deal {
  display: none;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .about-deal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.section-pic_item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  position: relative;
}
.section-pic_item:not(:last-child) {
  margin-right: 30px;
}

.section-item.centered,
.team-item.centered {
  text-align: center;
}

.section-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
}

.work-img-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.our-team {
  background: #F5F4FA;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-head {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-pic {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-image {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-image {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-image {
    margin-top: 0px;
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.pic-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #000000;
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-social-list:not(:last-child) {
  margin-right: 10px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover, .team-social-link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.team-social-icon {
  fill: currentColor;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    margin-top: 50px;
    margin-bottom: 0;
  }
}
.clients-list__item {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
}

.clients-link {
  width: 100%;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients-icon {
  fill: currentColor;
}

.main-content {
  display: block;
}

.project-list {
  display: block;
  margin-top: 40px;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .project-list {
    margin-top: 50px;
  }
}

@media screen and (min-widht: 768px) {
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-widht: 1200px) {
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .project-text, .project-link:focus .project-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-img {
  width: 100%;
}

.project-item__set {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project-item__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.project-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-item__wrap {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  overflow-y: auto;
}

.project-list__item:hover.project-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  border-radius: 4px;
  color: #000000;
}
.portfolio-item {
  cursor: pointer;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(2) rotate(180deg);
          transform: translate(-50%, -50%) scale(2) rotate(180deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .modal {
    padding: 5%;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    max-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (max-width: 479px) {
  .modal-title {
    font-size: 4.17vw;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus, .modal-close:active {
  color: #2196F3;
}
.modal-close-icon {
  position: absolute;
  left: 15px;
  bottom: 15px;
  fill: currentColor;
}

.modal-field {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus-within .modal-input, .modal-field:hover .modal-input {
  border: 1px solid #2196F3;
  cursor: pointer;
}
.modal-field:focus-within .input-icon, .modal-field:hover .input-icon {
  fill: #2196F3;
}

.modal-input {
  width: 100%;
  height: 40px;
  display: block;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  outline: none;
  border-color: #2196F3;
}
.modal-input:focus + .input-icon {
  fill: #2196F3;
}

.modal-input-label {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus-within .modal-text, .modal-form-field:hover .modal-text {
  border: 1px solid #2196F3;
  fill: #2196F3;
  cursor: pointer;
}

.modal-input-wrap {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-input:focus + .input-icon {
  fill: #2196F3;
}

.modal-input-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-style: normal;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
}
.modal-text::-webkit-input-placeholder {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::-moz-placeholder {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::-ms-input-placeholder {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus {
  outline: none;
  border-color: #2196F3;
}
.modal-text:focus {
  border-color: #2196F3;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
}

.modal-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: #2191F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.modal-btn-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188CE8;
}

.modal-btn-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-check-field {
  margin-bottom: 30px;
}

.check-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .check-text {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
  }
}
.check-text-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.check-box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text span.check-box {
  background-color: #2196F3;
  border: none;
}

.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}
.footer__wrap {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    margin-bottom: 0;
  }
}
.footer-info__wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info__wrap {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-bottom: 0;
  }
}
.footer .footer-contacts__wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .footer-contacts__wrap {
    margin-bottom: 0;
  }
}

.footer-adress__wrap,
.footer-mail__wrap {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-adress__wrap,
.footer-mail__wrap {
    margin-bottom: 9px;
  }
}

.footer-adress {
  font-style: normal;
  color: #ffffff;
}
.footer-adress:hover, .footer-adress:focus, .footer-adress:active {
  color: #2196F3;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover, .footer-mail:focus, .footer-mail:active,
.footer-tel:hover,
.footer-tel:focus,
.footer-tel:active {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .footer-social__wrap {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social__wrap {
    margin-left: 70px;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196F3;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-subcr__wrap {
    margin-left: auto;
  }
}

.footer-subscr__title {
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #FFFFFF;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-subscr__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.subscr {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 450;
  height: 50;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
@media screen and (min-width: 768px) {
  .subscr {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscr {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}

.sub-icon {
  fill: #ffffff;
  margin-left: 10px;
}

.submit-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 29px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover, .submit-btn:focus, .submit-btn:active {
  background-color: #188ce8;
}

.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  display: block;
  margin-bottom: 20px;
}

.footer-logo-web {
  color: #2196F3;
}

.footer-logo-studio {
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 14px;
}

adress {
  font-style: normal;
}/*# sourceMappingURL=main.css.map */