 :root {
     --secondary-text-color: #757575;
     --primary-text-color: #212121;
     --primary-black-color: #000000;
     --accent-text-color: #2196F3;
     --primary-whyte-color: #ffffff;
     --secondary-background-color: #F5F4FA;
     --address-footer-color: rgba(255, 255, 255, 0.6);
     --footer-background-color: #2F303A;
     --second-accent-text-color: #2191F3;
     --social-icon-color: #AFB1B8;
 }


 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0;
 }

 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 img {
     display: block;
     min-width: 100%;
    height: auto;
 }

 address {
     font-style: normal;
 }

 .container {
     width: 1200px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
 }

 .section {
     padding-top: 94px;
     padding-bottom: 94px;
 }

 body {
     font-family: "Roboto", sans-serif;
     background-color: var(--primary-whyte-color);
     color: var(--primary-text-color);
     letter-spacing: 0.03em;
     font-size: 14px;
 }

 adress {
     font-style: normal;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: 1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .list {
     list-style: none;
 }

 .link {
     text-decoration: none;
 }

 /*----------------- logo ------------------*/

 .logo {
     color: var(--accent-text-color);
     text-decoration: none;
     font-family: "Raleway";
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     margin-right: 93px;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

 }

 .logo-header {
     color: var(--primary-black-color);
     text-decoration: none;
 }

 /*------------- header -------------*/
.header {
    border-bottom:1px solid #ececec;
}

 .header-nav {
     display: flex;
     align-items: center;
 }

 .adress-list {
     display: flex;
     margin-left: auto;
 }

 .adress-contacts:not(:last-child){
     margin-left: 50px;
 }


 .contacts {
    display: flex;
    align-items: center;
    }


 .header-list {
     display: flex;
     align-items: center;
 }

 .header-link {
     color: var(--accent-text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }

 .header-link:hover,
 .header-link:focus {
     color: var(--accent-text-color);
 }

 .header-link {
     color: var(--title-black-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .header-item:not(:last-child),
 .mailtel:not(:last-child) {
     margin-right: 50px;
 }

 .link:hover,
 .link:focus {
     color: var(--accent-text-color);
 }

 .header-mail {
     color: var(--secondary-text-color);
     text-decoration: none;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     padding-top: 30px;
     padding-bottom: 30px;
 }

 .header-mail:hover,
 .header-mail:focus {
     color: var(--accent-text-color);
     font-weight: 500;
 }

 .header-tel {
     color: var(--secondary-text-color);
     text-decoration: none;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     padding-top: 30px;
     padding-bottom: 30px;
     margin-left: 50px;
}


 .header-tel:hover,
 .header-tel:focus {
     color: var(--accent-text-color);
 }
 .header-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 }

 .header-item.current .header-link{
     color:var(--accent-text-color);
 }

 .header-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--secondary-text-color);
    text-decoration: none;
 }

 .mailto, .telto{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    margin-right: 10px;
 }

 .header-contacts{
    color: var(--accent-text-color);
 }


 /*------------------ hero -------------------*/
.hero-container{
    text-align: center;
}


 .hero {
     background: var(--footer-background-color); 
     padding-top: 200px;
     padding-bottom: 200px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     max-width: 1600px;
     background-image: linear-gradient(
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(../img/overlay.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .hero-title {
     width: 696px;
     margin-left: auto;
     margin-right: auto;
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: var(--primary-whyte-color);
     margin-bottom: 30px;
 }
.main-section-item{
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}





 /*-------------------- button ------------------*/
 .hero .button {
     font-family: inherit;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 0.06em;
     color: var(--primary-whyte-color);
     background-color: var(--accent-text-color);
     cursor: pointer;
     border: none;
     padding: 10px 32px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
 }

 .hero .button:hover,
 .hero .button:focus {
     background-color: #188CE8;
 }


 /*---------------- main-section ------------------*/
 .main-section {
     display: flex;
 }

 .main-about+.main-about {
     margin-left: 30px;
 }


 .main-about {
     min-width: 270;
 }

 .main-description {
     padding-top: 94px;
     padding-bottom: 47px;
 }

 .main-title {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.15;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
     text-transform: uppercase;
     margin-bottom: 10px;
 }

 .main-text {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--secondary-text-color);
     margin-bottom: 0;
     margin-top: 0;
 }

 /*----------------- what_we_are_doing ---------------*/
 .section-item.centered,
 .team-item.centered {
     text-align: center;
 }

 .about-deal {
     padding-top: 47px;
     padding-bottom: 94px;
 }

 .section-item {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: var(--title-black-color);
 }

 .section-pic {
     display: flex;
     margin-top: 50px;
 }

 .pic-with:not(:last-child) {
     margin-right: 30px;
 }



 /*------------------- our_team ------------------*/

 .team-text {
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: var(--primary-whyte-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }


 .border-team-img {
     /* display: block; */
     /* width: 270px; */
     /* height: 108px; */
     /* border-style: solid; */
     /* border-top: none; */
     /* border-width: 1px; */
     /* border-color: var(--primary-whyte-color); */
 }

 .team-pic {
     display: flex;
     align-items: center;
     margin-top: 50px;
     justify-content: center;
 }

 .team-image:not(:last-child) {
     margin-right: 30px;
    width: calc(100% / 4);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
 }

 .our-team list {
     width: 1600px;
     height: 648px;
     left: 0px;
     top: 1449px;
     background: var(--secondary-background-color);
 }

 .our-team {
     background: var(--secondary-background-color);
 }

 .team-item {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     margin-bottom: 50px;
     color: var(--title-black-color);
 }


 .pic-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
 }

 .pic-text {
     text-align: center;
     font-size: 16px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: var(--secondary-text-color);
     margin-top: 10px;
 }

 .team-social-list{
     display: inline-flex;
     justify-content: center;
 }
 .team-social-list:not(:last-child) {
     margin-right: 10px;
 }

 .team-social-item{
     width: 44px;
     height: 44px;
 }

 .team-social-link{
     width: 100%;
     height:100%;
     border-radius: 50%;
     display: flex;
     align-items:center; 
     justify-content: center;
     color:var(--social-icon-color);
     margin-top: 16px;
     
 }

 .team-social-icon{
     fill: currentColor;
}

 .team-social-link:hover,
 .team-social-link:focus{
background-color:var(--accent-text-color);
color:var(--primary-whyte-color);
 }

.team-social-item+.team-social-item {
    margin-left: 10px;
}

     /*------------------ footer ---------------*/

     /*------ logo-footer -----------*/
 .footer {
     background: var(--footer-background-color);
     padding-top: 60px;
     padding-bottom: 60px;
 }

 .footer-left {
     margin-right: 70px;
 }

 .footer-logo {
     font-family: Raleway;
     font-style: normal;
     font-weight: 700;
     font-size: 26px;
     display: block;
     margin-bottom: 20px;
 }

 .adress {
     margin-bottom: 9px;
 }

 .mail {
     margin-bottom: 9px;
 }

 .footer-logo-web {
     color: var(--accent-text-color);
 }

 .footer-logo-studio {
     color: var(--primary-whyte-color);
 }

 .footer-contact {
     font-style: normal;
     font-size: 14px;
     line-height: 1.71px;
     letter-spacing: 0.03em;
     color: var(--primary-whyte-color);
 }

 .footer-mail,
 .footer-tel {
     font-style: normal;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.03em;
     color: var(--address-footer-color);
 }

 .footer-blocks {
     display: flex;
 }

 .footer-join {
     margin-bottom: 20px;
     color: var(--primary-whyte-color);
     font-weight: 600;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
 }

 .footer-social-list {
     display: flex;
     justify-content: center;
 }

 .footer-social-item {
     width: 44px;
     height: 44px;
 }

 .footer-social-link {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 10%);
     display: flex;
     align-items: center;
     justify-content: center;
     color:var(--primary-whyte-color);
 }

 .footer-social-icon {
     fill: currentColor;
 }

 .footer-social-link:hover,
 .footer-social-link:focus {
     background-color: var(--accent-text-color);
 }

 .footer-social-item+.footer-social-item {
     margin-left: 10px;
 }

 /*--------------- portfolio ------------*/
 /*--------- main btn ----------*/
 .portfolio-item {
     background-color: var(---primary-whyte-color);
     border-radius: 4px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     letter-spacing: 0.03em;
     color: var(--title-black-color);
 }

 .portfolio-item {
     cursor: pointer;
 }

 .main-btn {
     display: flex;
     margin-bottom: 50px;
     justify-content: center;
 }

 .btn {
     align-items: center;
     cursor: pointer;
     border: none;
     align-items: center;
     color: var(--primary-text-color);
 }

 .btn:not(:last-child) {
     margin-right: 8px;
 }

 .portfolio-btn {
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.03em;
     border-radius: 4px;
     padding: 6px 22px;
     cursor: pointer;
     border: none;
     background-color: var(--secondary-background-color);
 }


 .portfolio-btn:hover,
 .portfolio-btn:focus {
     color: var(--primary-whyte-color);
     background-color: var(--accent-text-color);
 }

 /*------------- main-pic --------------*/
.portfolio-set {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

 .pictures-item {
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     margin-bottom: 4px;
     color: var(--primary-text-color);
 }

 .pictures-text {
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.03em;
     color: var(--secondary-text-color);
 }

 .card-set {
     display: flex;
     flex-wrap: wrap;
     margin-right: -30px;
     margin-bottom: -30px;
 }

 .setup {
     flex-basis: calc((100% - 3 * 30px) / 3);
     margin-right: 30px;
     margin-bottom: 30px;

 }

 .portfolio-item {
     padding-left: 24px;
     padding-right: 24px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

