 :root {
     --secondary-text-color: #757575;
     --primary-text-color: #212121;
     --primary-black-color: #000000;
     --accent-text-color: #2196F3;
     --primary-whyte-color: #ffffff;
     --secondary-background-color: #F5F4FA;
     --address-footer-color: rgba(255, 255, 255, 0.6);
     --footer-background-color: #2F303A;
 }


 body {
     font-family: "Roboto", sans-serif;
     background-color: var(--primary-whyte-color);
     color: var(--primary-text-color);
     letter-spacing: 0.03em;
     font-size: 14px;
 }

 adress {
     font-style: normal;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: 1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .list {
     list-style: none;
 }

 .link {
     text-decoration: none;
 }

 /* logo */

 .logo {
     color: var(--accent-text-color);
     text-decoration: none;
     font-family: "Raleway";
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
 }

 .logo-header {
     color: var(--primary-black-color);
     text-decoration: none;
 }

 /* header */

 .link.current {
     color: var(--accent-text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .link.current:hover,
 .link.current:focus {
     color: var(--accent-text-color);
 }

 .link {
     color: var(--title-black-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .link:hover,
 .link:focus {
     color: var(--accent-text-color);
 }

 .header-mail {
     color: var(--secondary-text-color);
     text-decoration: none;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }

 .header-mail:hover,
 header-mail:focus {
     color: var(--accent-text-color);
     font-weight: 500;
 }

 .header-tel {
     color: var(--secondary-text-color);
     text-decoration: none;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }

 .header-tel:hover,
 .header-tel:focus {
     color: var(--accent-text-color);
 }


 /* hero */
   .hero {
       background: #2F303A;
   }

 .hero-title {

     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: var(--primary-whyte-color);
  }



 /* button */
 .button {
     font-family: inherit;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 0.06em;
     color: var(--primary-whyte-color);
     background-color: var(--accent-text-color);
     cursor: pointer;
 }


 /* main-section */
 .main-title {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.15;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
     text-transform: uppercase;
 }

 .main-text {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--secondary-text-color);
 }

 /* what_we_are_doing */
 .section-item {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: var(--title-black-color);
 }

 /* our_team */
 .our-team list {
     width: 1600px;
     height: 648px;
     left: 0px;
     top: 1449px;
     background:var(--secondary-background-color);
 }

 .our-team {
     background: var(--secondary-background-color);
 }

 .team-item {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: var(--title-black-color);
 }

 .pic-item {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
 }

 .pic-text {
     font-size: 16px;
     line-height: 1.17;
     color: var(--secondary-text-color);
 }

 /* footer */

 /* logo-footer */
 .logo {
     color: var(--accent-text-color);
     text-decoration: none;
     font-family: "Raleway";
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
 }

 .logo-footer {
     color: var(--primary-whyte-color);
     text-decoration: none;
 }

 .footer-main {

     left: 0px;
     top: 2097px;
     background: #2F303A;
 }

.adress-text {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--primary-whyte-color);
        text-decoration: none;
}

.footer-mail{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--address-footer-color);
        text-decoration: none;
}

.footer-tel {
    font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--address-footer-color);
            text-decoration: none;
        }
        .adress-text:hover,
        .adress-text:focus {
            color: var(--accent-text-color);
        }
    
        .footer-mail:hover,
        .footer-mail:focus {
            color: var(--accent-text-color);
        }
    
        .footer-tel:hover,
        .footer-tel:focus {
            color: var(--accent-text-color);
        }



 /* portfolio */
 /* main btn */
 .portfolio-item {
     background-color: var(--secondary-background-color);
     border-radius: 4px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     letter-spacing: 0.03em;
     color: var(--title-black-color);
 }

 .portfolio-item {
     cursor: pointer;
 }

 .portfolio-btn {
     color: var(--accent-text-color);
 }

 .portfolio-btn {
     font-family: 'Roboto';
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     letter-spacing: 0.03em;
     color: var(--primary-whyte-color);
 }

 .portfolio-btn:hover,
 .portfolio-btn:focus {
     color: var(--primary-whyte-color);
     background-color: var(--accent-text-color);
 }

 .portfolio-btn {
     font-family: 'Roboto';
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
     cursor: pointer;
 }

 .portfolio-btn-colored {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
     cursor: pointer;
     color: var(--primary-whyte-color);
     background-color: var(--accent-text-color);
 }

 .portfolio-btn-colored:hover,
 .portfolio-btn-colored:focus {
     color: var(--primary-whyte-color);
     background-color: var(--accent-text-color);
 }
 /* main-pic */
 .section-pic {}

 .list {}

 .pictures-item {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color:var(--primary-text-color);
 }

 .pictures-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color:var(--secondary-text-color);
 }