.project-list {
    display: block;
    margin-top: 40px;
    margin-bottom: -30px;



    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


    }

    @media screen and (min-width:1200px) {
        margin-top: 50px;

    }

    &__item {
        margin-bottom: 30px;

        @media screen and (min-width:768px) {
            width: calc((100% - 30px) / 2);

        }

        @media screen and (min-width:1200px) {
            width: calc((100% - 60px) / 3);
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        transition: box-shadow $effects-option;

        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:hover .project-text,
        &:focus .project-text,
        &:active {
            transform: translateY(0);
        }
    }
}

.project-item__title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
}

.project-item__text {
    margin-top: 4px;
    color: $secondary-text-color;
    font-size: 16px;
}

.project-item__set {
    padding: 20px 24px;
    border-width: 0 1px 1px 1px;
    flex-grow: 1;
    border: 1px solid #EEEEEe;

}

.project-item__wrap {
    position: relative;
    overflow: hidden;
}

.project-img {}

.project-text {
   @include font(18px, 400, 1.55, null);
   color: rgba(255, 255, 255, 1);
   position: absolute;
   top: 0;
   left: 0%;
   height: 100%;
   padding: 63px 24px;
   background-color: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
   transition: transform $effects-option,
   background-color $effects-option;
   overflow-y: auto;
}

.project-img {
    width: 100%;
}