.footer {
    background: $footer-background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &-left {
        margin-right: 70px;
    }

    &-logo {
        font-family: Raleway;
        @include font(26px, 700, null, null);
        font-style: normal;
        display: block;
        margin-bottom: 20px;
    }

    &-contact {
        font-style: normal;
        @include font(14px, null, 1.71, 0.03em);
        color: $primary-whyte-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-text-color;
        }
    }

    &-logo-web {
        color: $accent-text-color;
    }

    &-logo-studio {
        color: $primary-whyte-color;
    }

    &-mail,
    &-tel {
        font-style: normal;
        @include font(14px, null, 1.71, 0.03em);
        color: $address-footer-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-text-color;
        }
    }
}




.adress {
    margin-bottom: 9px;
}

.mail {
    margin-bottom: 9px;
}