.logo {
    color: $accent-text-color;
    text-decoration: none;
    font-family: "Raleway";
    @include font(26px, 700, 1.2, 0.03em);
    margin-right: 93px;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

}

.logo-header {
    color: $primary-black-color;
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header-nav {
@extend %align-list;
}

.adress-list {
    display: flex;
    margin-left: auto;
}

.adress-mail {
@extend %align-list;
}

.adress-contacts {
@extend %align-list;

    &:not(:last-child) {
        margin-left: 50px;
    }
}




.contacts {
    @extend %align-list;
}


.header-list {
    @extend %align-list;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $accent-text-color;
    @include font(14px, 500, 1.14, 0.02em);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-text-color;
    }

    &.current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $accent-text-color;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -2px;
    }

    &.current {
        color: $accent-text-color;
    }
}

.header-item:not(:last-child),
.mailtel:not(:last-child) {
    margin-right: 50px;
}

.header-mail {
    color: $secondary-text-color;
    text-decoration: none;
    @include font(14px, 500, 1.14, 0.02em);
    padding-top: 30px;
    padding-bottom: 30px;
    @extend %align-list;
}

.header-contacts {
    color: $secondary-text-color;
    text-decoration: none;
    @include font(14px, 500, 1.14, 0.02em);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-text-color;
    }
}

.mailto,
.telto {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    margin-right: 10px;
}