.hero {
    width: 100%;
    background: var(--footer-background-color);
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(..//../img/Hero-img1x-mobile.jpg);

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(..//../img/hero/Hero-img2x-mobile.jpg);

        @media screen and (min-width: 768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(..//../img/hero/Hero-img1x-tablet.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(..//../img/hero/Hero-img1x-tablet.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(..//../img/hero/Hero-img2x-tablet.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        min-height: 600px;
        padding-bottom: 200px;
        padding-top: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(..//../img/hero/Hero-Img1x-desk.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(..//../img/hero/Hero-Img2x-desk.jpg);
        }
    }



    .hero-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 360px;
        text-transform: uppercase;
        @include font(26px, 900, 1.62, 0.06em);
        color: $primary-whyte-color;
        @media screen and(min-width: 1200px) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }
}