.main-section {
    display: flex;
}




.main-about {
    min-width: 270;

    &+& {
        margin-left: 30px;
    }
}

.main-description {
    padding-top: 94px;
    padding-bottom: 47px;
}

.main-title {
    @include font(14px, 700, 1.15, 0.03em);
    color: $primary-text-color;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-text {
    @include font(14px, 400, 1.71, 0.03em);
    color: $secondary-text-color;
    margin-bottom: 0;
    margin-top: 0;
}