.main-section {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        justify-content: space-between;
    }
}

.main-about {
    @media screen and (max-width:767px) {
        width: 100%;
        margin-bottom: 30px;

    }

    @media screen and (min-width:768px) {
        width: calc((100% - 30px) / 2);
        margin-bottom: 30px;

    }

    @media screen and (min-width:1200px) {
        width: calc((100% - 90px) / 4);

    }


.main-about+.main-about {
    margin-top: 30px;

    @media screen and (min-width:768px) {
        margin-top: 0;
    }
  }
}

.main-section-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        background-color: $secondary-background-color;
        border-radius: 4px;
       
    }

.main-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    color: $primary-text-color;
    @media screen and (min-width:768px) {
        text-align: left;
    }
}

.main-text {
    margin-top: 10px;
    text-align: left;
    @include font(14px, 400, 1.71, null);
    color: $secondary-text-color;
}
