.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms, visibility 250ms;

    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(2) rotate(180deg);
    }
}


.modal {
    width: 528px;
    min-height: 581px;
    background-color: $primary-whyte-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

    &-title {
        @include font(20px, 700, 1.15, 0.03em);
        text-align: center;
        color: var(--primary-text-color);
        margin-bottom: 12px;

    }

    &-form {
        display: flex;
        flex-direction: column;
    }

    &-close {
        width: 30px;
        height: 30px;
        background-color: $primary-whyte-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 8px;
        cursor: pointer;
        @extend %align-list;
        justify-content: center;
        color: $secondary-text-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $accent-text-color;
        }
    }

    &-icon {
        fill: currentColor;
    }

    &-field {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: start;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within .modal-input,
        &:hover .modal-input {
            border: 1px solid $accent-text-color;
            cursor: pointer;
        }

        &:focus-within .input-icon,
        &:hover .input-icon {
            fill: $accent-text-color;
        }
    }

    &-input {
        width: 100%;
        height: 40px;
        display: block;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border-color: $accent-text-color;
        }

        &:focus+.input-icon {
            fill: $accent-text-color;
        }
    }

    &-input-label {
        @include font(12px, normal, 1.16, 0.01em);
        color: $secondary-text-color;

    }

    &-form-field {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: start;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within .modal-text,
        &:hover .modal-text {
            border: 1px solid $accent-text-color;
            fill: $accent-text-color;
            cursor: pointer;
        }
    }

    &-input-wrap {
        display: block;
        position: relative;
        margin-top: 4px;
    }

    &-input:focus+.input-icon {
        fill: $accent-text-color;
    }

    &-input-label {
        @include font(12px, 400, 1.16, 0.01em);
        color: $secondary-text-color;
    }

    &-text {
        @include font(12px, normal, 1.16, 0.01em);
        font-style: normal;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
        margin-top: 4px;
        resize: none;
        padding: 12px 16px;

        &::placeholder {
            font-style: normal;
            @include font(12px, normal, 1.16, 0.01em);
            color: rgba(117, 117, 117, 0.5);
        }

        &:focus {
            outline: none;
            border-color: $accent-text-color
        }

        &:focus {
            border-color: $accent-text-color;
        }
    }

}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    align-items: center;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    fill: $primary-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.78, 0.73);

}

.modal-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    background: $second-accent-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font(16px, 700, 1.88, 0.06em);
    display: block;
    border: none;
    align-items: center;
    text-align: center;
    color: $primary-whyte-color;
}

.modal-btn-field {
    display: flex;
    justify-content: center;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-btn {
    display: block;
    width: 200px;
    height: 50px;
    @include font(16px, 700, 1.88, 0.06em);
    background-color: $accent-text-color;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.modal-btn-field {
    display: flex;
    justify-content: center;
}

.modal-check-field {
    margin-bottom: 30px;
}

.check-text {
    @include font(14px, normal, 1.71, 0.03em);
    color: $secondary-text-color;
    @extend %align-list;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;

    &-link {
        @include font(14px, 400, 1.71, 0.03em);
        font-style: normal;
        color: $accent-text-color;
        border-bottom: 1px solid $accent-text-color;
    }
}



.check-box {
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 4px;
    box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
    @extend %align-list;
    justify-content: center;
    margin-right: 7px;
}

.check-icon {
    fill: transparent;
}

.modal-check:checked+.check-text span.check-box {
    background-color: $accent-text-color;
    border: none;
}

.modal-check:checked+.check-text .check-icon {
    fill: $primary-whyte-color;
}