.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms, visibility 250ms;

    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(2) rotate(180deg);
    }
}


.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--primary-whyte-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 12px;

    }

    &-form {
        display: flex;
        flex-direction: column;
    }

    &-close {
        width: 30px;
        height: 30px;
        background-color: var(--primary-whyte-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--accent-text-color);
        }
    }

    &-icon {
        fill: currentColor;
    }

    &-field {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: start;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within .modal-input,
        &:hover .modal-input {
            border: 1px solid var(--accent-text-color);
            cursor: pointer;
        }

        &:focus-within .input-icon,
        &:hover .input-icon {
            fill: var(--accent-text-color);
        }
    }

    &-input {
        width: 100%;
        height: 40px;
        display: block;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border-color: var(--accent-text-color);
        }

        &:focus+.input-icon {
            fill: var(--accent-text-color);
        }
    }

    &-input-label {
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        margin-top: 10px;
        color: var(--secondary-text-color);

    }

    &-form-field {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: start;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within .modal-text,
        &:hover .modal-text {
            border: 1px solid var(--accent-text-color);
            fill: var(--accent-text-color);
            cursor: pointer;
        }
    }

    &-input-wrap {
        display: block;
        position: relative;
        margin-top: 4px;
    }

    &-input:focus+.input-icon {
        fill: var(--accent-text-color);
    }

    &-input-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: var(--secondary-text-color);
    }

    &-text {
        font-style: normal;
        font-weight: normal;
        width: 100%;
        height: 120px;
        font-style: 12px;
        line-height: 1.16;
        letter-spacing: 0.01;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
        margin-top: 4px;
        resize: none;
        padding: 12px 16px;

        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-style: 12px;
            line-height: 1.16;
            letter-spacing: 0.01;
            color: rgba(117, 117, 117, 0.5);
        }

        &:focus {
            outline: none;
            border-color: var(--accent-text-color)
        }

        &:focus {
            border-color: var(--accent-text-color);
        }
    }

}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    align-items: center;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.78, 0.73);

}

.modal-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    background: var(--second-accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-whyte-color);
}

.modal-btn-field {
    display: flex;
    justify-content: center;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-btn {
    display: block;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-text-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.modal-btn-field {
    display: flex;
    justify-content: center;
}

.modal-check-field {
    margin-bottom: 30px;
}

.check-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;

    &-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
        border-bottom: 1px solid var(--accent-text-color);
    }
}



.check-box {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

.check-icon {
    fill: transparent;
}

.modal-check:checked+.check-text span.check-box {
    background-color: var(--accent-text-color);
    border: none;
}

.modal-check:checked+.check-text .check-icon {
    fill: var(--primary-whyte-color);
}