:root {
     --secondary-text-color: #757575;
     --primary-text-color: #212121;
     --primary-black-color: #000000;
     --accent-text-color: #2196F3;
     --primary-whyte-color: #ffffff;
     --secondary-background-color: #F5F4FA;
     --address-footer-color: rgba(255, 255, 255, 0.6);
     --footer-background-color: #2F303A;
     --second-accent-text-color: #2191F3;
     --social-icon-color: #AFB1B8;
 }

  $secondary-text-color: #757575;
  $primary-text-color: #212121;
  $primary-black-color: #000000;
  $accent-text-color: #2196F3;
  $primary-whyte-color: #ffffff;
  $secondary-background-color: #F5F4FA;
  $address-footer-color: rgba(255, 255, 255, 0.6);
  $footer-background-color: #2F303A;
  $second-accent-text-color: #2191F3;
  $social-icon-color: #AFB1B8;